{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog4Roster.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1>Da Roster</h1>
    </div>
        <div>
            <h2>Roster list</h2>
        </div>
        <div>
            <h3>For this Roster it is still in the testing and developement stages and we are just editing to see what we will leave in and take out</h3>
        </div>
        <ul>
            <li>person</li>
            <li>dog person</li>
            <li>plane</li>
            <li>a bag of plates</li>
            <li>trash</li>
            <li>Robbert</li>
            <li>other names</li>
            <li>I am not sure why I did this :P</li>
        </ul>
        <div>
            <h4>Pretend that the list above have links if you click on them. They will if we use this but I am a little lazy to make fake links :)</h4>
        </div>
    </body>
</html>